.flashcards {
  @include section-wrapper;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 90%;
    @media (min-width: 600px) {
      width: 80%;
    }
    @media (min-width: 768px) {
      width: 75%;
    }
    @media (min-width: 1024px) {
      width: 60%;
    }
    @media (min-width: 1500px) {
      width: 40%;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    min-height: 400px;
  }

  &__title {
    font-size: 30px;
    color: $color-dark-grey;
    font-family: $font-Work-Sans;
  }

  &__card {
    background-color: $color-blue-main;
    color: white;
    font-size: 30px;
    font-family: $font-Work-Sans;
    border-radius: 10px;
    width: 100%;
    min-height: 430px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 15px black;
    &:hover {
      cursor: pointer;
    }
  }

  &__card.flipped {
    transform: rotateX(180deg);
  }
  &__card.flipped-horizontal {
    transform: rotateY(180deg);
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.25s;
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    justify-content: space-between;
    position: relative;
  }

  &__arrows {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &__card-number {
    font-family: $font-Work-Sans;
    color: $color-dark-grey;
    font-size: 23px;
  }

  &__arrow {
    background-color: $color-beige;
    color: $color-blue-main;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      filter: brightness(70%);
    }
  }

  &__actions-container {
    display: flex;
    align-items: center;
  }

  &__show-actions {
    position: absolute;
    right: 10px;
    margin-left: auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: $color-dark-grey;
    font-size: 25px;

    i {
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        color: $color-grey;
        transform: scale(1.1);
      }
    }
  }

  &__actions {
    color: $color-grey;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    max-height: 0;
  }

  &__action {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-family: $font-Work-Sans;
    align-items: center;
    background-color: $color-beige;
    padding: 15px;
    border: 1px solid lightgray;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      filter: brightness(70%);
    }
  }

  &__terms {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__terms-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-Work-Sans;
    margin-bottom: 20px;
  }

  &__terms-title {
    font-size: 25px;
    color: $color-dark-grey;
  }

  &__terms-show-hide {
    font-size: 20px;
    color: $color-grey;
    &:hover {
      cursor: pointer;
    }
  }

  &__terms-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;
  }

  &__terms-item {
    display: flex;
    height: auto;
    max-width: 100%;
    gap: 40px;
    font-size: 20px;
    font-family: $font-Work-Sans;
    padding: 20px;
    background-color: $color-beige;
    border-radius: 10px;
    border: 1px solid lightgrey;
  }

  &__term {
    width: 35%;
    word-wrap: break-word;
  }
  &__meaning {
    border-left: 1px solid $color-dark-grey;
    padding-left: 20px;
    word-wrap: break-word;
    width: 50%;
  }
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  padding: 20px;
  box-sizing: border-box;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.front {
  z-index: 2;
}

.back {
  transform: rotateX(180deg);
  z-index: 1;
}

.share-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-Work-Sans;
  z-index: 10000000;
}

.share-modal__content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-modal__link {
  margin-bottom: 10px;
}

.share-modal__copy {
  font-family: $font-Work-Sans;
  background-color: $color-blue-main;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: $color-dark-grey;
    background-color: $color-yellow;
    transform: scale(1.1);
  }
}
