.header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 21px;
  font-family: $font-Coolvetica;
  background-color: white;
  transition: background-color 0.2s ease-in-out;

  &--scrolled {
    background-color: rgb(255, 248, 248);
    animation: header-animation 0.5s ease-in-out;
  }

  &__logo-container {
    transform: translateY(7px);
    @media (min-width: 768px) {
      margin-left: 30px;
    }
  }

  &__links {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link {
    text-decoration: none;
    color: $color-blue-main;
    transition: 0.3s;

    &:hover {
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      background-color: $color-yellow;
      color: black;
    }

    &--media-display {
      display: none;
      @media (min-width: 768px) {
        display: inherit;
      }
    }

    &--mobile {
      display: none;
      @media (min-width: 475px) {
        display: inherit;
      }
    }

    &--background {
      background-color: $color-blue-main;
      color: white;
      padding: 4px 5px;
      border-radius: 10px;
    }
  }

  &__plus {
    background-color: $color-blue-main;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__profile {
    display: flex;
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 20px;
    transition: 0.3s;
    &--dropdown {
      position: inherit;
    }
    &--logout-media {
      @media (max-width: 369px) {
        top: 10px;
      }
    }
  }

  &__profile-image-container {
    img {
      border-radius: 50%;
      width: 42px;
      height: 42px;
    }
  }

  &__profile-main {
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &__signIn {
    margin-right: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    @media (min-width: 370px) {
      font-size: 1em;
    }
  }

  &__signup {
    @include signup-btn;
  }

  &__login {
    @include login-btn;
  }
}

.dropdown {
  color: white;
  position: absolute;
  top: 53px;
  right: 20px;
  background-color: $color-blue-main;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  &__profil {
    display: flex;
    padding: 10px 15px;
  }

  &__user-details {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  &__username {
    font-weight: bold;
  }

  &__link-container {
    font-size: 19px;
    padding: 10px 20px;
    &--border {
      border-top: 1px solid white;
    }
  }

  &__link {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      color: $color-yellow;
      transform: translateX(20px);
    }
  }
}

.logo {
  &:hover {
    cursor: pointer;
  }
}
