@mixin section-wrapper {
  min-height: calc(100vh - 80px);
  width: 100vw;
  max-width: 100%;
  margin-top: 80px;
}

@mixin heading {
  color: $color-blue-main;
  font-family: $font-Coolvetica;
  letter-spacing: 3px;
  font-weight: 300;
}

@mixin login-btn {
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: $color-dark-grey;
    color: white;
  }
}

@mixin signup-btn {
  background-color: $color-yellow;
  padding: 8px;
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    padding: 14px;
  }
}
