@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

$font-common: "Varela", sans-serif;
$font-super: "Merienda";
$color-green: #53dd6c;
$color-blue: #004fff;
$color-black: #222222;
$color-text-grey: rgb(211, 197, 197);

$color-blue-main: #004dc9;
$color-yellow: #ddbc13;
$color-dark-grey: #363636;
$color-dark-grey: #626262;
