@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("//db.onlinewebfonts.com/c/b60ffa5ac0a8e99a0e8e765ded1cccf4?family=Coolvetica");

$font-Work-Sans: "Work Sans", sans-serif;
$font-Coolvetica: "Coolvetica", sans-serif;

$color-blue-main: #004dc9;
$color-yellow: #ddbc13;
$color-dark-grey: #363636;
$color-grey: #626262;
